    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @import './full-houm/fonts';
    body {
        font-family: 'Lexend Deca';
        overflow-x: hidden;
    }
    
    .container {
        max-width: 1136px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    $heading-font:'Space Mono';
    $main-color:#fff;
    $btn-color: #FCB72B;
    @mixin for-tablet {
        @media screen and (max-width: 992px) {
            @content;
        }
    }
    
    @mixin for-mobile {
        @media screen and (max-width: 700px) {
            @content;
        }
    }
    
    @import './full-houm/houm-blocks'